:root{
    --c_fontwhite: rgb(255, 255, 255); 
    --c_fontblack: rgb(39, 39, 39);
    --c_fontblue:rgb(93, 121, 163);
    --c_bggrey: rgb(54, 54, 51);
    --c_fglightblue: rgba(237, 239, 243, 0.6);
    --c_fgdarkblue: rgb(93, 121, 163, 0.8);
    --c_borderwhite: rgb(255, 255, 255, 0.3); 
    --c_shadowgrey: rgba(36, 36, 36, 0.5);

    --font_xxlarge: 40px;
    --font_xlarge: 26px;
    --font_large: 22px;
    --font_medium: 18px;
    --font_small: 14px;
    --font_xsmall: 10px;
    --font_xxsmall: 6px;

    --font: Helvetica, Arial, sans-serif;
}

/* whole page */
.preloader {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 99999999;
    background-color: rgba(237, 239, 243);
    color: var(--c_fontblack);
    text-align: center;
    padding: 20%;
}
#stop-scrolling {
    height: 100% !important;
    overflow: hidden !important;
}
body{
    background-color: var(--c_bggrey);
    color: var(--c_fontwhite);
    background-image: url("../content/Malaysia.png");
    background-repeat: no-repeat;
    background-position: top;
    background-size: contain;
    font-family: var(--font);
}
h1{
    font-size: var(--font_xxlarge);
}
h2{
    font-size: var(--font_large);
}
h3{
    font-size: var(--font_medium);
}
h4{
    font-size: var(--font_small);
}
a{
    color: var(--c_fontwhite);
    text-decoration: none;
}
a:hover{
    color: var(--c_fontblue);
}

/* header nav bar */
.nav-item{
    margin: auto;
    padding: 0 20px;
}
.nav{
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    padding: 8px;
    /* background-color: rgba(228, 228, 228, 0.6);
    box-shadow: 0 8px 32px 0 rgba(65, 65, 65, 0.37);
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );
    border-radius: 20px;
    border: 1px solid rgba(255, 255, 255, 0.2); */
    /* position: fixed; */
}
#nav_left{
    margin-left: 0;
}
#nav_right{
    margin-right: 0;
}
#nav_right span, #nav_right form{
    display: inline;
}
#state_form_dropdown{
    background-color: var(--c_fglightblue);
    box-shadow: 0 8px 32px 0 var(--c_shadowgrey);
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );
    border-radius: 5px;
    border: 1px solid var(--c_borderwhite);
    padding: 5px 10px;
    outline: 0;
    cursor: pointer;
}


/* top section */
.top_section{
    padding-bottom: 50px;
    margin-bottom: 50px;
    border-bottom: var(--c_borderwhite) 1px solid;
}
.centered_divs{
    text-align: center;
}
#state_div{
    margin: auto;
    padding-top: 20px;
}
#refresh_div{
    margin-bottom: 20px;
    font-size: var(--font_small);
}
.top_section_bottom{
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}
.data_card{
    margin: 6px 10px;
    text-align: center;
    padding: 10px 0;
    box-shadow: 0 8px 32px 0 var(--c_shadowgrey);
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );
    border-radius: 10px;
    border: 1px solid var(--c_borderwhite);
    color: var(--c_fontblack);
    background-color: var(--c_fglightblue);
}
#data_card_cases{
    background-color: rgb(241, 202, 58, 0.7);
}
#data_card_recovs{
    background-color: rgb(111, 150, 84, 0.8);
    color: var(--c_fontwhite);
}
#data_card_deaths{
    background-color: rgb(226, 67, 30, 0.7);
    color: var(--c_fontwhite);
}
#data_card_vacs{
    background-color: rgb(28, 145, 192, 0.7);
    color: var(--c_fontwhite);
}
.top_section_bottom p{
    font-size: var(--font_large);
    margin: 0;
}
.data_card_cases_sub{
    display: inline-block;
    font-style: italic;
    margin-top: 10px;
}
.data_card_cases_sub p{
    font-size: var(--font_small);
}
.data_card_cases_active{
    margin-top: 20px;
}
#data_card_cases h2{
    font-style: italic;
}
#data_card_cases h3{
    font-size: var(--font_large);
}
#active_diff{
    font-size: var(--font_small);
    font-style: italic;
}
#update_div{
    margin-top: 20px;
    text-align: center;
    font-size: var(--font_small);
}

/* middle section*/
.middle_section_top{
    text-align: center;
}
.middle_section_top p{
    margin-bottom: 30px;
}
#states_table{
    font-size: var(--font_small);
    color: var(--c_fontblack);
    border-bottom: none;
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );
    overflow-x: auto;
}
#states_table tr{
    background-color: rgb(255, 255, 255, 0);
}
#states_table th, #states_table td{
    border-bottom: none;
    background-color: var(--c_fglightblue);
    
    padding: 5px 0;
    text-align: center;
    border: 1px solid rgb(255, 255, 255, 0.1);
}
#states_table th{
    color: var(--c_fontwhite);
    font-weight: normal;
    font-size: var(--font_small);
    background-color: var(--c_fgdarkblue);
    border: 1px solid rgb(255, 255, 255, 0.3);
}
.states_table_last{
    font-weight: bold;
}
#states_table tr td:first-child{
    background-color: rgb(93, 121, 163, 0.5);
    font-size: var(--font_small);
    color: var(--c_fontwhite);
}
#states_table tr:first-child th:first-child{
    border-top-left-radius: 20px;
}
#states_table tr:first-child th:last-child{
    border-top-right-radius: 20px;
}
#states_table .states_table_last td:first-child{
    border-bottom-left-radius: 20px;
}
#states_table .states_table_last td:last-child{
    border-bottom-right-radius: 20px;
}
#states_table tr:hover td{
    background-color: rgba(237, 239, 243, 0.5);
}
#states_table tr:hover td:first-child{
    background-color: rgb(93, 121, 163, 0.3);
}
#states_table th:hover{
    background-color: rgb(93, 121, 163, 0.7);
}
.middle_section{
    margin-bottom: 50px;
    padding-bottom: 60px;
    border-bottom: var(--c_borderwhite) 1px solid;
}

/* Bottom section */
.bottom_section_top{
    text-align: center;
}
.bottom_section_top p{
    margin-bottom: 30px;
}
.bottom_section_bottom p{
    margin-bottom: 10px;
}
#trend_graph_info{
    text-align: right;
    margin-top: 20px;
    font-size: var(--font_small);
}
#filter_form{
    display: inline;
}
#filter_message{
    display: inline;
    margin-left: 10px;
    color:rgb(228, 107, 107);
}
.input_date{
    background-color: var(--c_fglightblue);
    box-shadow: 0 8px 32px 0 var(--c_shadowgrey);
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );
    border-radius: 5px;
    border: 1px solid var(--c_borderwhite);
    padding: 5px 10px;
    outline: 0;
    margin-right: 5px;
    width: 15%;
    cursor: pointer;
}
.input_submit{
    background-color: var(--c_fgdarkblue);
    box-shadow: 0 8px 32px 0 var(--c_shadowgrey);
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );
    border-radius: 5px;
    border: 1px solid var(--c_borderwhite);
    padding: 5px 15px;
    outline: 0;
    color: var(--c_fontwhite);
}
#trend_graph{
    padding: 50px;
    background-color: rgba(93, 121, 163, 0.4);
    box-shadow: 0 8px 32px 0 var(--c_shadowgrey);
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );
    border-radius: 20px;
    border: 1px solid var(--c_borderwhite);
}


/* footer */
footer{
    text-align: center;
    margin-top: 80px;
    margin-bottom: 30px;
    font-size: var(--font_small);
}
footer p{
    margin-bottom: 5px;
}


/* responsive */
@media (max-width: 1000px){
    .top_section_bottom{
        width: 80%;
    }
}
@media (max-width: 768px){
    #trend_graph{
        padding: 30px;
    }
    #trend_graph canvas{
        height: 50%;
    }
    .middle_section h1, .bottom_section h1{
        font-size: var(--font_xlarge);
    }
    .middle_section_top p, .bottom_section p{
        font-size: var(--font_small);
    }
    .input_date{
        width: 25%;
    }
    .input_submit, .input_date{
        font-size: var(--font_small);
    }
}
@media (max-width: 520px){
    .nav-item{
        width: 40%;
    }
    #state_form_dropdown{
        width: 50%;
    }
}