

body{
    background-color: #363633;
    color: rgb(228, 243, 255);
    background-image: url("../content/Johor.png");
    /* background: url("../content/Johor.png"), linear-gradient(top, rgb(255, 255, 255, 0.5), rgb(255, 255, 255, 0)); */
    background-repeat: no-repeat;
    background-position: top;
    background-size: contain;
    
}
#filter_message{
    display: none;
}
.states_table_last{
    font-weight: bold;
}

.center_div{
    text-align: center;
}

/* #date_div{
    font-size: xx-large;
} */
#state_div{
    margin: auto;
    padding-top: 20px;
}
#refresh_div{
    margin-bottom: 20px;
}

.nav-item{
    margin: auto;
    padding: 0 20px;
}

.nav{
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    padding: 8px;
    /* background-color: rgba(228, 228, 228, 0.6);
    box-shadow: 0 8px 32px 0 rgba(65, 65, 65, 0.37);
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );
    border-radius: 20px;
    border: 1px solid rgba(255, 255, 255, 0.2); */
    /* position: fixed; */
}

#nav_left{
    margin-left: 0;
}

#nav_right{
    margin-right: 0;
}

#nav_right span, #nav_right form{
    display: inline;
}
nav{
    
    /* border-bottom: 1px white solid; */
    color: rgb(255, 255, 255);
    
}
nav a{
    color: rgb(255, 255, 255);
}
.msiamap path:hover{
    fill: blue;
}
.today_div{
    /* color: aliceblue; */
    /* background-color: #4a4a4a; */
    /* background-image: url("../content/Johor.png");
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover; */
    /* overflow: visible; */
    

}
.today_date{
    /* background-image: linear-gradient(rgb(255, 255, 255, 0.1), rgb(255, 255, 255, 0));
    margin: 0; */
    /* background-color: #767676; */
    width: 30%;
    /* box-shadow: 0 8px 32px 0 rgba(65, 65, 65, 0.37); */
    /* backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px ); */
    /* border-radius: 20px;
    border: 1px solid rgba(255, 255, 255, 0.2); */
}

.today_data{
    width: 40%;
    margin-left: auto;
    margin-right: auto;
    
}
.today_data_card{
    border: 1px solid white;
    margin: 3px 3px 10px 3px;
    text-align: center;
    padding: 0;
    padding: 10px 0;
    box-shadow: 0 8px 32px 0 rgba(65, 65, 65, 0.37);
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.2);
    color: #272727;
    background-color: rgba(199, 200, 206, 0.8);
}

/* #today_data_card_cases{
    background-color: rgba(235, 235, 235, 0.6);
    color: #272727;
} */
.today_data_card_cases_sub{
    display: inline-block;
    
}
.today_data_card_cases_sub p{
    font-size: medium;
}
.today_data_card_cases_active{
    margin-top: 20px;
}
/* #today_data_card_recovs{
    background-color: rgba(219, 219, 219, 0.6);
}

#today_data_card_deaths{
    background-color: rgba(223, 223, 223, 0.6);
}
#today_data_card_vacs{
    background-color: rgba(230, 230, 230, 0.6);
} */

h2{
    font-size: x-large;
}
h3{
    font-size: large;
}
h4{
    font-size: small;
}
#today_data_card_cases h2{
    font-size: large;
}
#today_data_card_cases h3{
    font-size: x-large;
}
.today_data p{
    font-size: large;
    margin: 0;
}

#refresh_div{
    font-size: small;
}